# Robot Framework Reports
log.html
output.xml
report.html

# Selenium screenshots
selenium-screenshot-*.png

# Intelli J
.idea/

# Log files
*.log

# Project credentials
ui/facebook/facebook-credentials.robot
